@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap");

.posts {
  margin-bottom: 20%;
}

.post {
  width: 90%;
  height: 500px;
  margin-left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 600px) {
  .posts {
    margin-bottom: 15%;
  }
}

@media (min-width: 800px) {
  .posts {
    margin-bottom: 10%;
  }
}

@media (min-width: 1000px) {
  .post {
    width: 80%;
  }

  .posts {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .post {
    width: 40%;
    height: 650px;
  }
}
