.main {
  width: 90%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 80px;
}

.write {
  text-align: right;
}

.write a {
  text-decoration: none;
  background-color: gray;
  color: white;
  padding: 5px;
}

.nbs {
  width: 100%;
  height: 80px;
  margin-top: 30px;
}

.nbi {
  height: 80px;
  width: 30%;
}
